<!DOCTYPE html>
<html lang="en">

    
    <link rel="stylesheet" href="style.css" />   
    <title>Document</title>


    <header class="header">
        <ul class="header-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    <h1 class="header-title"> Balonzo Inc.</h1>  
  </header>


<body>
    

    <div class="container">
        <aside class="sidebar">
            <h3>Categories</h3>
                <ul>
                    <li><a href="#">soccer</a></li>
                    <li><a href="#">tactics</a></li>
                    <li><a href="#">formation</a></li>
                    <li><a href="#">About</a></li>

                </ul>
        </aside>
        <main class="main-body">
            <h2>Headline</h2>
            Hello my name is Bryhan Alonzo. This is just part of my project so i decided to write something to see the layout of my page using CSS.
        </main>
    </div>

    
<footer class="footer">balonzo Inc. All rights reserved to young_chapin</footer>
    
</body>
</html>